body{
    font-family: Arial, Helvetica, sans-serif;
    
}
.container{
    width: 80%;
    border: 3px solid black;    
}

.content{
    min-height: 500px;
    width: 70%;
    background-color: green;
    float: left;
    padding-top: 20px;
    color: white;
}

.article{
    padding-inline-start: 20px;
    border-top: 1px solid white;
    border-bottom: 1px solid black;
}

.header{
    height: 80px;
    background-color: red;
    width: 100%;
    color: white;
    text-align: center;
    border-bottom: 3px dotted black;
    margin: auto;
}

footer{
    height: 50px;
}
.nav{
    background-color: lightblue;
    height: 50px;
}
.nav li{
    display: inline;
    height: 70px;
}

.aside {
    background-color: orange;
    float: left;
    max-height: 1500px;
    width: 29.2%;
    min-height: 500px;  
    padding-left: 10px;  
}


.footer{
    background-color: black;
    color: white;
    width: 100%;
}

.clearfix{
    clear: both;
}

/* unvisited link */
a:link {
    color: blue;
  }
  
  /* visited link */
  a:visited {
    color: purple;
  }
